.Dice__container {
  margin: 5vh auto;
  width: 60vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  margin-bottom: 1vh;
  color: #333333;
  font-size: 1.2rem;
  font-weight: 700;
}

.Dice__images {
  width: 100%;
  height: 55vw;
  max-height: 430px;
  background-color: #b5a8bf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dice__pic, .Active {
  width: 40%;
  margin-top: 20%;
  object-fit: contain;
}
.Active {
  animation: shake 0.5s ease infinite;
}

.Dice__text {
  margin-top: 1vh;
  color: #333333;
  font-size: 1.5rem;
  font-weight: bolder;
}

.Dice__btnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 12px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 45%;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  color: #c3bfbf;
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: #9b9696;
  color: #000000;
}
.buttonDisabled {
  background-color: #9b9696;
}

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-15deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0); }
}